@import "tailwindcss";

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay-Medium.woff2') format('woff2');
  font-style: 'normal';
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-Medium.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reggae One';
  src: url('./assets/fonts/ReggaeOne-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #30261C;
  --color-accent: #2A0000;
  --color-black: #000000;
  --color-mud: #544A3E;
  --color-beige: #E2D9C8;
  --color-light-gray: #D9D9D9;
  --color-light-blue: #F5F5F5;
  --color-off-white: #F1F0EE;
  --color-white: #FFFFFF;


  --font-playfair: 'Playfair Display', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
  --font-reggae: 'Reggae One', sans-serif;
}